@using ToDoList.WebApp.MVC.Models
@model ToDoTaskViewModel
<tr id='@Model.Id'>
    <td style="text-align: center;">
        @Html.CheckBoxFor(model => model.IsChecked, new { htmlAttributes = new { @style = "width:100" },  value="IsChecked" })
    </td>
    <td >
        @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { disabled = true, @readonly = "readonly", @style = "width:100%" } })
    </td>
    <td>
        <input type="button" class="btn btn-default" value="Edit" />
    </td>
    <td>
        <input type="button" class="btn btn-default btn-danger" value="Delete"/>
    </td>

    <td style="text-align:right">
        @Html.DisplayFor(model => model.ModificationDateTimeOffset, new { htmlAttributes = new { disabled = true, @readonly = "readonly" } })
    </td>
</tr>